@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';


@source "../src/**/*.{ts,tsx,js,jsx}";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    padding: 12px;
    margin: 0 auto;
}

.search-input{
    padding: 8px 20px;
}

.search-button{
    padding: 8px 20px;
}

.padding-links{
    padding: 8px 12px;
}

.padding-header{
    padding: 12px 0;
}

.category-bottom-line{
    animation: expandWidth 300ms;
}

.nav-category {
    position: relative;
}

.nav-category::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 300ms ease;
}

.nav-category:hover::after {
    width: 100%;
}

.nav-category:hover {
    color: #000;
}

@keyframes expandWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.products-wrapper{
    margin-top: 32px;
}

.products{
    margin-top: 12px ;
}

.text{
    margin-top: 0;
}

.star{
    margin-top: 16px;
}

.button-padding{
    padding: 8px 20px;
    margin: 16px 0;
}


.heartIcon {
    border: none;
    background-color: gray;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-box{
    padding-left: 12px;
}

.footer{
    margin-top: 42px;
}

.footer-socials{
    margin-top: 32px;
}

.mt-3{
    margin-top: 12px;
}

.mt-2{
    margin-top: 8px;
}